@page
@model LoginFormsApp.Pages.Login1Model
@{
}

<script src="lib/payne-debugger/debugHelper.min.js"></script>

<style>
    .pass_show {
        position: relative
    }

        .pass_show .ptxt {
            position: absolute;
            top: 50%;
            right: 10px;
            z-index: 1;
            color: #a20915;
            margin-top: -10px;
            cursor: pointer;
            transition: .3s ease all;
        }

            .pass_show .ptxt:hover {
                color: black;
                font-weight: bold;
            }
</style>

<div class="container-fluid">
    <h1 id="header1"><span>Update My Security</span></h1>
</div>

<hr class="hr1" />

<div class="container">

    <form role="form" class="mt-3">
        
        <div class="row">
            <div class="col-sm-4">

                <label for="current_password">Current Password</label>
                <div class="form-group pass_show">
                    <input type="password" 
                           id="current_password" 
                           value="faisalkhan@123" 
                           class="form-control" 
                           placeholder="Current Password">
                </div>

                <label for="new_password" class="mt-5">New Password</label>
                <div class="form-group pass_show">
                    <input type="password" 
                           id="new_password" 
                           value="@@SomePassword1" 
                           class="form-control" 
                           placeholder="New Password">
                </div>

                <label for="confirm_password" class="mt-5">Confirm Password</label>
                <div class="form-group pass_show">
                    <input type="password" 
                           id="confirm_password" 
                           value="@@SomePassword1" 
                           class="form-control" 
                           placeholder="Confirm Password">
                </div>

            </div>
            
            @* 
             The following div is only visible on large screens as per
             d-lg-block  d-md-block  indicate in short show on large and medium screens
             and hide on small screens

            @Model.RuleHeader and @Model.Rules are the same as #RuleHeader# and #Rules# in Cold Fusion
            *@
            <div class="col-5 d-lg-block d-none d-md-block" style="margin-top: 3.5em; padding-left: 1em;">
                <p id="rules_text">@Model.RuleHeader</p>
                <p id="rules_text_top">@Model.Rules</p>
            </div>


        </div>
        
        @* 
         The following div is only visible on small screens as per
            d-sm-block  indicate show on small screens and hide on medium and large screens
            as per d-lg-none d-md-none
        *@
        <div class="row mt-3 d-sm-block d-lg-none d-md-none">
            <p id="rules_text_bottom_head">@Model.RuleHeader</p>
            <p id="rules_text_bottom">@Model.Rules</p>
        </div>
        
    </form>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>


    document.addEventListener("DOMContentLoaded", () => {
        $('.pass_show').append('<span class="ptxt">Show</span>');
    });

    $(document).on('click', '.pass_show .ptxt', function () {
        $(this).text($(this).text() == "Show" ? "Hide" : "Show");
        $(this).prev().attr('type', function (index, attr) { return attr == 'password' ? 'text' : 'password'; });
    });

    /*
    * Karen code
    * CTRL+ALT+1 toggles adding/removing debugger.css
    */
    document.addEventListener('keydown', function (event) {

        if (event.key === '1' && event.altKey && event.ctrlKey) {
            $debugHelper.toggle();
        }

    });
</script>